<div class="jumbotron">
	<h1 class="display-3">Welcome to WhatMessage</h1>
	<p class="lead">Want to send a message that can only be read by your friend? This is the place.</p>
	<p class="lead">
		<%= link_to "Join Us", new_user_path, class: "btn btn-primary" %>
		<%= link_to "Log in",  new_session_path, class: "btn btn-primary" %>
	</p>
</div>
